@model ApplicationRequestIt.Models.Status

@{
    ViewData["Title"] = "Delete";
}

<h2>Verwijder</h2>

<h3>Ben u zeker dat u deze status wilt verwijderen?</h3>
<h4>Het programma kan stoppen met functioneren als er geen status beschikbaar is.</h4>
<div>
    <h4>Status</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Naam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Omschrijving)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Omschrijving)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Verwijder" class="btn blue" /> |
        <a class="btn green" asp-action="Index">Terug naar overzicht.</a>
    </form>
</div>
